<mat-toolbar color="primary">
  <h1 class="text-center">{{mode}} Client</h1>
</mat-toolbar>

<div class="container">
  <h3 class="text-center" *ngIf="loading">Loading...</h3>

  <div *ngIf="!loading">

    <div class="div-form">
      <h4>ID: {{id}}</h4>

      <label for="nameInput">Name: </label>
      <input class="form-control" id="nameInput" name="nameInput" type="text" value="" [(ngModel)]="name" required>

      <br /><br />
      <div *ngIf="errMsg" class="alert alert-danger">
        <h3>{{errMsg}}</h3>
      </div>
      <button mat-raised-button color="primary" type="submit" (click)="submit()">Submit</button>
      <button mat-raised-button color="warn" routerLink="/">Cancel</button>
    </div>
  </div>
</div>
